<mat-toolbar>
    {{ title }}
    <button (click)="dialogCreateEquipment()"
            *ngIf="(!isContract&&haveAccessToDepartment())||(isContract&&haveAccessControl())" mat-icon-button>
        <mat-icon title="Добавить оборудование">add_circle</mat-icon>
    </button>
    <button (click)="dialogDepartmentStaff()" *ngIf="isDepartment" mat-icon-button>
        <mat-icon title="Сотрудники отдела">supervised_user_circle</mat-icon>
    </button>
    <button (click)="dialogEquipmentReport()" *ngIf="isDepartment" mat-icon-button>
        <mat-icon title="Отчет">summarize</mat-icon>
    </button>
    <button (click)="dialogUpdateContract()" *ngIf="isContract&&haveAccessControl()" mat-icon-button>
        <mat-icon title="Изменить договор">edit</mat-icon>
    </button>
    <button (click)="dialogDeleteContract()" *ngIf="isContract&&haveAccessControl()" mat-icon-button>
        <mat-icon title="Удалить договор">delete_forever</mat-icon>
    </button>
    <button (click)="dialogEquipmentTransfer()" *ngIf="pickEquipments[0]" mat-button>
        Передать
    </button>
    <button (click)="dialogEquipmentReplace()" *ngIf="pickEquipments[0]&&!pickEquipments[1]&&isContract" mat-button>
        Заменить
    </button>
</mat-toolbar>
<app-no-content *ngIf="!equipments"></app-no-content>
<table *ngIf="equipments" [dataSource]="equipments" mat-table>
    <ng-container matColumnDef="profile">
        <th *matHeaderCellDef mat-header-cell>Модель</th>
        <td (click)="pick(column.equipment.id)" *matCellDef="let column" mat-cell>
            {{ column.equipment.profile.title }}
        </td>
    </ng-container>
    <ng-container matColumnDef="serialNumber">
        <th *matHeaderCellDef mat-header-cell>Серийный номер</th>
        <td (click)="pick(column.equipment.id)" *matCellDef="let column" mat-cell>
            {{ column.equipment.serial_number }}
        </td>
    </ng-container>
    <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell>Категория</th>
        <td (click)="pick(column.equipment.id)" *matCellDef="let column" mat-cell>
            {{ column.equipment.profile.category.title }}
        </td>
    </ng-container>
    <ng-container matColumnDef="company">
        <th *matHeaderCellDef mat-header-cell>Компания</th>
        <td (click)="pick(column.equipment.id)" *matCellDef="let column" mat-cell>
            {{ column.company.title }}
        </td>
    </ng-container>
    <ng-container matColumnDef="location">
        <th *matHeaderCellDef mat-header-cell>Нахождение</th>
        <td (click)="pick(column.equipment.id)" *matCellDef="let column" mat-cell>
            <div [ngSwitch]="title">
                <ng-template ngSwitchCase="Склад">
                    Склад
                </ng-template>
                <ng-template ngSwitchCase="Абонент">
                    {{ column.to_contract.number }}
                </ng-template>
                <ng-template ngSwitchDefault>
                    <div *ngIf="column.to_department.title">{{ column.to_department.title }}</div>
                    <div *ngIf="column.to_employee.name">{{ column.to_employee.name }}</div>
                </ng-template>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="control">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let column" class="rightPositionTable" mat-cell>
            <button [matMenuTriggerFor]="options" mat-icon-button>
                <mat-icon>expand_circle_down</mat-icon>
            </button>
            <mat-menu #options="matMenu">
                <button (click)="dialogEquipmentHistory(column.equipment.id)" mat-menu-item>
                    История
                </button>
                <button (click)="dialogUpdateEquipment(column.equipment.id)" *ngIf="haveAccessToDepartment()"
                        mat-menu-item>
                    Изменить
                </button>
                <button (click)="dialogDeleteEquipment(column.equipment.id)" *ngIf="haveAccessToDepartment()"
                        mat-menu-item>
                    Удалить
                </button>
            </mat-menu>
        </td>
    </ng-container>
    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns;" id="row{{row.equipment.id}}" mat-row></tr>
</table>
