<mat-toolbar>
  Профили
  <button (click)="dialogCreateProfile()" mat-icon-button>
    <mat-icon title="Добавить профиль">add_circle</mat-icon>
  </button>
</mat-toolbar>
<app-no-content *ngIf="!profiles"></app-no-content>
<table *ngIf="profiles" [dataSource]="profiles" mat-table>
  <ng-container matColumnDef="title">
    <th *matHeaderCellDef mat-header-cell>Название</th>
    <td *matCellDef="let column" mat-cell>{{ column.title }}</td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th *matHeaderCellDef mat-header-cell>Категория</th>
    <td *matCellDef="let column" mat-cell>{{ column.category.title }}</td>
  </ng-container>
  <ng-container matColumnDef="deleted">
    <th *matHeaderCellDef mat-header-cell>Удалено</th>
    <td *matCellDef="let column" mat-cell>{{ column.deleted }}</td>
  </ng-container>
  <ng-container matColumnDef="control">
    <th *matHeaderCellDef mat-header-cell>Управление</th>
    <td *matCellDef="let column" class="rightPositionTable" mat-cell>
      <button [matMenuTriggerFor]="options" mat-icon-button>
        <mat-icon>expand_circle_down</mat-icon>
      </button>
      <mat-menu #options="matMenu">
        <button (click)="dialogUpdateProfile(column.id)" mat-menu-item>
          Изменить
        </button>
        <button (click)="dialogDeleteProfile(column.id)" *ngIf="!column.deleted" mat-menu-item>
          Удалить
        </button>
        <button (click)="dialogRestoreProfile(column.id)" *ngIf="column.deleted" mat-menu-item>
          Восстановить
        </button>
      </mat-menu>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>
